<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <cities>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Russia</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>28807</cityYaId>
        <cityOWId>0</cityOWId>
        <cityRusName>Самара</cityRusName>
        <cityEngName>City</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Russia</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>27786</cityYaId>
        <cityOWId>0</cityOWId>
        <cityRusName>Ульяновск</cityRusName>
        <cityEngName>City</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Russia</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>27612</cityYaId>
        <cityOWId>0</cityOWId>
        <cityRusName>Москва</cityRusName>
        <cityEngName>City</cityEngName>
      </city>
    </CitySettings>
  </cities>
  <format>Days</format>
  <updatePeriod>60</updatePeriod>
  <autostart>true</autostart>
</Settings>