<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <cities>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Russia</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>27612</cityYaId>
        <cityOWId>524901</cityOWId>
        <cityRusName>Москва</cityRusName>
        <cityEngName>moscow</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Украина</countryRusName>
        <countryEngName>Ukraina</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>33345</cityYaId>
        <cityOWId>703448</cityOWId>
        <cityRusName>Киев</cityRusName>
        <cityEngName>kiev</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Уганда</countryRusName>
        <countryEngName>Uganda</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>63680</cityYaId>
        <cityOWId>232422</cityOWId>
        <cityRusName>Кампала</cityRusName>
        <cityEngName>kampala</cityEngName>
      </city>
    </CitySettings>
  </cities>
  <format>Days</format>
  <updatePeriod>10</updatePeriod>
  <autostart>false</autostart>
  <temperatureUnits>
    <rusName>Цельсии</rusName>
    <engName>Celsius</engName>
  </temperatureUnits>
  <language>
    <rusName>Английский</rusName>
    <engName>English</engName>
  </language>
</Settings>