<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <cities>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryName>Россия</countryName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityId>27786</cityId>
        <cityName>Ульяновск</cityName>
      </city>
    </CitySettings>
  </cities>
  <format>Days</format>
  <updatePeriod>60</updatePeriod>
  <autostart>true</autostart>
</Settings>