<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <cities>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Russia</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>27612</cityYaId>
        <cityOWId>524901</cityOWId>
        <cityRusName>Москва</cityRusName>
        <cityEngName>moscow</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Украина</countryRusName>
        <countryEngName>Ukraina</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>33345</cityYaId>
        <cityOWId>703448</cityOWId>
        <cityRusName>Киев</cityRusName>
        <cityEngName>kiev</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Уганда</countryRusName>
        <countryEngName>Uganda</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>63680</cityYaId>
        <cityOWId>232422</cityOWId>
        <cityRusName>Кампала</cityRusName>
        <cityEngName>kampala</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Rossiya</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>27220</cityYaId>
        <cityOWId>523859</cityOWId>
        <cityRusName>Мышкин</cityRusName>
        <cityEngName>myshkin</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Rossiya</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>28240</cityYaId>
        <cityOWId>520494</cityOWId>
        <cityRusName>Нижний Тагил</cityRusName>
        <cityEngName>nizhniy tagil</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Rossiya</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>27934</cityYaId>
        <cityOWId>518602</cityOWId>
        <cityRusName>Новомичуринск</cityRusName>
        <cityEngName>novomichurinsk</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Россия</countryRusName>
        <countryEngName>Rossiya</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>29634</cityYaId>
        <cityOWId>1496747</cityOWId>
        <cityRusName>Новосибирск</cityRusName>
        <cityEngName>novosibirsk</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Свазиленд</countryRusName>
        <countryEngName>Svazilend</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>68396</cityYaId>
        <cityOWId>934995</cityOWId>
        <cityRusName>Манзини</cityRusName>
        <cityEngName>manzini</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>Сеута</countryRusName>
        <countryEngName>Seuta</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>60320</cityYaId>
        <cityOWId>6362987</cityOWId>
        <cityRusName>Сеута</cityRusName>
        <cityEngName>ceuta</cityEngName>
      </city>
    </CitySettings>
    <CitySettings>
      <country>
        <countryId>RU</countryId>
        <countryRusName>США</countryRusName>
        <countryEngName>Ssha</countryEngName>
      </country>
      <region>
        <regionId>0</regionId>
        <regionName>Region</regionName>
      </region>
      <city>
        <cityYaId>72617</cityYaId>
        <cityOWId>4286281</cityOWId>
        <cityRusName>Берлингтон, шт. Вермонт</cityRusName>
        <cityEngName>burlington</cityEngName>
      </city>
    </CitySettings>
  </cities>
  <format>Days</format>
  <updatePeriod>10</updatePeriod>
  <autostart>false</autostart>
  <temperatureUnits>
    <rusName>Цельсии</rusName>
    <engName>Celsius</engName>
  </temperatureUnits>
  <language>
    <rusName>Русский</rusName>
    <engName>Russian</engName>
  </language>
</Settings>